﻿@page "/addProduct"
@page "/detailProduct/{Id:guid}"

@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Agregar productos</h3>
<EditForm Model="@product">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <InputText type="text" class="form-control" name="name" id="nameId" placeholder="Nombre" @bind-Value="@product.Name"></InputText>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Codigo</label>
        <InputText type="text" class="form-control" name="code" id="codeId" placeholder="Codigo" @bind-Value="@product.Code"></InputText>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Descripcion</label>
        <InputText type="text" class="form-control" name="description" id="descriptionId" placeholder="Descripcion" @bind-Value="@product.Description"></InputText>
    </div>
    <div class="mb-3">
        <a class="btn btn-danger" href="/products">Regresar</a>
        <button class="btn btn-primary" @onclick="Save">Agregar</button>
    </div>
</EditForm>
@code {
    [Parameter]
    public Guid Id { set; get; }
    public string url = "/api/products";
    ProductDto product = new ProductDto();
    ProductDto Response = new ProductDto();
    private async Task Save()
    {
        var response = await Http.PostAsJsonAsync<ProductDto>(url, product);
        Response = response.Content.ReadFromJsonAsync<ProductDto>().Result;
        NavigationManager.NavigateTo("/products");
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id != Guid.Empty && Id != null)
        {
            product = await Http.GetFromJsonAsync<ProductDto>(url + "/" + Id);
        }
    }
}
