@page "/products"
@page "/"
@using AppProducts.Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager


<PageTitle>Productos</PageTitle>
<h1>Productos</h1>
<NavLink href="addProduct">
    <button class="btn btn-primary">Agregar Productos</button>
</NavLink>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Codigo</th>
            <th scope="col">Ver</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in response)
    {
        <tr>
            <td>@i.Name</td>
            <td>@i.Description</td>
            <td>@i.Code</td>
            <td><a class="btn btn-primary" href="/detailProduct/@i.Id">Ver</a></td>
        </tr>
    }
    </tbody>
</table>

@code{
    public string url = "/api/products";
    public List<Data.ProductDto> response = new List<ProductDto>();

    protected override async Task OnInitializedAsync() =>
        response = await Http.GetFromJsonAsync<List<Data.ProductDto>>(url);
}